## ------------------------------------------------------------------------------------------------------------------------------------------------ ##
## Folders
## ------------------------------------------------------------------------------------------------------------------------------------------------ ##
/bin
/tmp*
## ------------------------------------------------------------------------------------------------------------------------------------------------ ##
## Temporary ( Will be released at some point )
## ------------------------------------------------------------------------------------------------------------------------------------------------ ##
/src