## ------------------------------------------------------------------------------------------------------------------------------------------------ ##
## Source Files
## ------------------------------------------------------------------------------------------------------------------------------------------------ ##
src/
## ------------------------------------------------------------------------------------------------------------------------------------------------ ##
## Documentations
## ------------------------------------------------------------------------------------------------------------------------------------------------ ##
##documentation/*.txt
##documentation/*.md